body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  margin: 0 auto;
  max-width: 1200px;
}

main {
  padding: 0 1rem;
}

.cards {
  list-style: none;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
  border-radius: 5px;
}

.card img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card button {
  margin-top: 0.5rem;
}

.card_container {
  padding: 2px 16px;
  text-align: center;
  margin: 15px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  font-size: x-large;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#member-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: rgb(181 230 250 / 50%);
}

#member-form form {
  display: flex;
  justify-content: center;
}

#member-form input {
  margin-right: 2rem;
  flex: 1;
}

#member-form button {
  width: 150px;
}

label {
  font-weight: bold;
  display: block;
}

input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid gray;
  transition: all 0.2s;
  width: 100%;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--green);
}

button {
  padding: 0.25rem 1rem;
  cursor: pointer;
  background-color: rgb(181 230 250 / 50%);
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
}

.about {
  font-size: larger;
}